ion-card-header {
  padding-bottom: 0;
}

.card-content-ios {
  padding-top: 5px;
}

ion-grid {
  padding: 0;
}

ion-col {
  padding: 0;
}

.cap-length {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
