.container {
  display: flex;
  flex-direction: row;
}

.title {
  padding-right: 2%;
  padding-left: 2%;
  font-weight: bold;
}

.direction {
  font-size: 1.25em;
}

.message {
  padding-left: 2%;
  padding-right: 2%;
}
