<ion-item>
  <ion-label position="floating">First Name <ion-text color="danger">*</ion-text></ion-label>
  <ion-input clear-input="true" required="true" [(ngModel)]="firstName"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
  <ion-input clear-input="true" required="true" [(ngModel)]="lastName"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Username <ion-text color="danger">*</ion-text></ion-label>
  <ion-input clear-input="true" required="true" [(ngModel)]="username"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
  <ion-input clear-input="true" required="true" [(ngModel)]="email" type="email"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
  <ion-input clear-input="true" required="true" type="password" [(ngModel)]="password"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Confirm Password <ion-text color="danger">*</ion-text></ion-label>
  <ion-input clear-input="true" required="true" type="password" [(ngModel)]="conPass"></ion-input>
</ion-item>
<p *ngIf="error" class="text-danger mt-3">Error: {{error}}</p>
<ion-button class="ion-margin-top" expand="block" (click)="onSignup()">Login</ion-button>


