<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-img style="width: 3.5rem" src="../assets/icon/hawkIcon.png"></ion-img>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Home
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button id="notification-button">
        <ion-icon style="width: 2rem; height: 2rem" name="notifications">
          <ion-badge id="notifications-badge" color="danger">66</ion-badge>
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-container">
  <h3 style="text-align: center">Recent Activity</h3>
  <app-home-card *ngFor="let alert of alerts" [data]="alert" (click)="presentModal(true, alert)"></app-home-card>
  <app-home-card *ngFor="let event of events" [data]="event" (click)="presentModal(false, event)"></app-home-card>
</ion-content>
