<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
          <ion-img style="width: 3.5rem" src="../assets/icon/hawkIcon.png"></ion-img>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Settings
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button id="notification-button">
          <ion-icon style="width: 2rem; height: 2rem" name="notifications">
              <ion-badge id="notifications-badge" color="danger">66</ion-badge>
          </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-profile-card></app-profile-card>
</ion-content>
